@tailwind base;
@tailwind components;
@tailwind utilities;
// @import url('./custom.css');
@import "../icons/icons.scss";
@import "./_variable";

/* :root {
  --primary: #273bef;
  --secondary: #636770;
  --critical: #d33535;
  --warning: #fabe3c;
  --success: #27b96a;
  --surface: #f8f8f8;
  --onSurface: #111213;
  --highlight: #1e58c8;
  --interactive: #2e72d2;
  --decorative: linear-gradient(216.56deg, #e250e5 5.32%, #4b50e6 94.32%);
} */
html,
body {
  font-family: "Rubik", sans-serif;
  font-size: 1rem;
  background-color: color('light');
}

.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
  font-size: 1rem;
}
