:root {
    --primary: #636770;
    --surface: #f8f8f8;
    --onSurface: #111213;
    --warning: #fabe3c;
    --success: #27b96a;
    --decorative: linear-gradient(216.56deg, #e250e5 5.32%, #4b50e6 94.32%);
    --highlight: #1e58c8;
    --critical: #d33535;
    --interactive: #2e72d2;
    --surface: #f8f8f8;
    --secondary: #636770;
}

#home {
    background-color: #fff;
}

li {
    list-style: none !important;
}

body,
html,
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.heroImg {
    background: url(../../../../images/svg/decorative/hero_bg.svg);
}

.hero-wrapper {
    display: flex;
    width: 100%;
    padding: 20px;
    color: #fff;
    margin: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

// Promotion styles

.promotion-container {
    padding-top: 40px;
}

// .slider-container {
//     display: flex;
//     justify-content: space-around;
//     align-items: center;
// }

.promotion-card {
    border-radius: 7px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    text-align: left;
    padding: 20px;
    color: #fff;
    background: url(../../../../images/svg/decorative/promoBg.svg);
    // background: linear-gradient(232deg, rgba(28, 26, 137, 1) 35%, rgba(37, 54, 210, 1) 100%);
}


// 
.mysurface{
    color: var(--surface);
}

.mycritical{
    color: var(--critical);
}

.myhighlight{
    color: var(--highlight);
}

.myinteractive{
    color: var(--interactive);
}

.myprimary{
color: var(--primary);
}

.mysecondary{
    color: var(--secondary);
}

.onsurface{
    color: var(--onSurface);
}

.mydanger{
color: var(--critical);
}

.mywarning {
    color: var(--success);
}

.surface-bg{
    background-color: var(--surface);
}

// Market Trends
.market-title {
    color: var(--onSurface);
}

.market-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

// Table  styles

.MuiTableCell-root {
    border-bottom: none !important;
    color: inherit;
}

.MuiTableBody-root {
    border-top: 1px solid #E5E5E5;
}

.MuiTableRow-hover:hover {
    background: red ;
}


.css-1azl6jz-MuiTableCell-root {
    color: var(--secondary);
    font-weight: bold !important;
}


// get strated section styles

