/* 공통 */
/* 텍스트 스타일 */
.bold {
  font-weight: bold;
}
.underline {
  border-bottom: 1px solid #212529;
}
.underline:hover {
  border-bottom: 1px solid #787a8c;
}
.text_white {
  color: #fff;
}

/* 버튼 */
/* button_big */
.btn-yj {
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  padding: 7px 15px;
  position: absolute;
  right: 0;
  top: 0;
}
.btn-phnumb {
  width: 50%;
  margin-top: 12px;
  font-size: 14px;
}
.btn-pass {
  margin: 26px 0;
}
.btn-login {
  background: #17c2ed;
  color: #fff;
}
.btn-login:hover {
  background: #2398b6;
}
/* button_small */
/* wrapper for form and btn */
.append_wrap {
  position: relative;
}
/* btn_wrapper */
.btn-append {
  position: absolute;
  top: 0;
  right: 0;
  width: 25%;
  height: 100%;
}
/* send_button */
.send-button {
  background-color: #17c2ed;
  color: #fff;
  border: 0;
  border-radius: 5px;
  cursor: pointer;
  padding: 11px 0;
  font-size: 11px;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
}

.send-button:hover {
  background: #2398b6;
}

/* form_control */
/* label_name */
.label-name {
  margin-top: 5px;
}
.phone-field {
  width: 73%;
}
.form-control-yj {
  display: block;
  width: 100%;
  padding: 7px 15px;
  font-size: 15px;
  line-height: 1.5;
  color: #495057;
  border-radius: 0.25rem;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.form-control-yj2 {
  display: block;
  width: 73%;
  padding: 7px 15px;
  font-size: 15px;
  line-height: 1.5;
  color: #495057;
  border-radius: 0.25rem;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
/* select_box */
.yj_select {
  border: 1px solid #ced4da;
  color: #495057;
  cursor: pointer;
  overflow: hidden;
  padding: 0.375rem 1.75rem 0.375rem 0.5rem;
  text-overflow: ellipsis;
  width: 100%;
  white-space: nowrap;
  outline: none;
}

/* 로그인 페이지 */
.bg_image {
  background: url("../inc/images/Bg.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 1rem 0;
}

.bg_image2 {
  background: #1c1d2a;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 5rem 0;
}

/* sign_wrapper */
.sign_wrap {
  background-color: #fff;
  box-shadow: 7px 10px 30px 3px rgba(0, 0, 0, 0.2);
  margin: 0 auto;
  max-width: 430px;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  width: 90%;
  padding: 1rem 0.7rem;
  transform: translateY(-60%);
  z-index: 1000;
}

.register_wrap {
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 7px 10px 30px 3px rgba(0, 0, 0, 0.2);
  margin: 0 auto;
  max-width: 450px;
  position: relative;
  width: 90%;
  padding: 1rem 0.7rem;
  z-index: 1000;
}
.sign-body {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding: 2rem 0.25rem 2.5rem;
}
/* sign_id_form */
.sign-id {
  margin-top: 2.2rem;
}
/* sign_text */
.register {
  margin-right: 20px;
}

/* 회원가입 페이지 */
.time-left {
  position: absolute;
  font-size: 70%;
  color: red;
  top: 50%;
  right: 30%;
  margin-top: -8px;
}
.id-over-red {
  padding-left: 2px;
  font-weight: 500;
  height: 1rem;
  padding-top: 0.2rem;
  color: red;
}
.id-over-green {
  padding-left: 2px;
  font-weight: 500;
  height: 1rem;
  padding-top: 0.2rem;
  color: #2bb673;
}
.time-over-red {
  margin-top: 10px;
  padding-left: 2px;
  font-weight: 500;
  color: #ff0000;
}
.time-over-green {
  margin-top: 10px;
  padding-left: 2px;
  font-weight: 500;
  color: #2bb673;
}
.otp-text-red {
  padding-left: 2px;
  font-weight: 500;
  height: 2rem;
  padding-top: 0.5rem;
  color: #ff0000;
}
.otp-text-green {
  padding-left: 2px;
  font-weight: 500;
  height: 2rem;
  padding-top: 0.5rem;
  color: #2bb673;
}
.policy {
  font-size: 13px;
}
.see-more {
  padding-left: 2px;
  text-decoration: underline;
}

/* 비밀번호 찾기 페이지 */
.new-pw {
  margin-bottom: 1.2rem;
}

/* Navbar*/
.navbar-white .navbar-nav .nav-link {
  color: rgba(255, 255, 255, 0.5);
}
#mainNav.fixed-top.navbar-white .sidenav-toggler {
  background-color: #212529;
}
#mainNav.fixed-top.navbar-white .sidenav-toggler a i {
  color: #adb5bd;
}
#mainNav.navbar-white .navbar-collapse.navbar-sidenav .nav-link-collapse:after {
  color: #868e96;
}
#mainNav.navbar-white .navbar-collapse.navbar-sidenav .nav-item > .nav-link {
  color: #868e96;
}
.nav-link i.icons {
  margin-right: 5px;
  vertical-align: middle;
}
#mainNav.navbar-white .navbar-collapse.navbar-sidenav li.nav-item.active a {
  background-color: #1e75bb;
}
#mainNav.navbar-white
  .navbar-collapse.navbar-sidenav
  .nav-item
  > .nav-link:hover {
  color: #adb5bd;
}
#mainNav.navbar-white
  .navbar-collapse.navbar-sidenav
  .nav-item
  .sidenav-second-level
  > li
  > a,
#mainNav.navbar-white
  .navbar-collapse.navbar-sidenav
  .nav-item
  .sidenav-third-level
  > li
  > a {
  color: #868e96;
}
#mainNav.navbar-white
  .navbar-collapse.navbar-sidenav
  .nav-item
  .sidenav-second-level
  > li
  > a:focus,
#mainNav.navbar-white
  .navbar-collapse.navbar-sidenav
  .nav-item
  .sidenav-second-level
  > li
  > a:hover,
#mainNav.navbar-white
  .navbar-collapse.navbar-sidenav
  .nav-item
  .sidenav-third-level
  > li
  > a:focus,
#mainNav.navbar-white
  .navbar-collapse.navbar-sidenav
  .nav-item
  .sidenav-third-level
  > li
  > a:hover {
  color: #adb5bd;
}
#mainNav.navbar-white
  .navbar-collapse.navbar-nav
  > .nav-item.dropdown
  > .nav-link:after {
  color: #adb5bd;
}
#mainNav.navbar-white .navbar-collapse.navbar-sidenav {
  background: #1c1d2a none repeat scroll 0 0;
  box-shadow: 0 0 20px -5px rgba(0, 0, 0, 0.1);
  padding: 0;
}
#mainNav.navbar-white .navbar-collapse.navbar-sidenav li.active > a {
  color: white !important;
}
@media (min-width: 992px) {
  #mainNav.navbar-white .navbar-collapse.navbar-sidenav li.active a:focus,
  #mainNav.navbar-white .navbar-collapse .navbar-sidenav li.active a:hover {
    color: white;
  }
}
#mainNav.navbar-white
  .navbar-collapse.navbar-sidenav
  .nav-item
  .sidenav-second-level,
#mainNav.navbar-white
  .navbar-collapse.navbar-sidenav
  .nav-item
  .sidenav-third-level {
  background: #152c47;
}

@media (max-width: 991px) {
  .navbar-white .navbar-toggler i {
    vertical-align: middle;
  }
  .navbar-white .navbar-toggler {
    color: #ffffff;
    margin-left: 5px;
  }
}

.bg-blue {
  background-color: #152c47 !important;
}
.mb-yj {
  margin-bottom: 4.5rem !important;
}
.mb-yj2 {
  margin-bottom: 6rem !important;
}
.mb-yj3 {
  margin-bottom: 1rem !important;
}

.pagination_wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 0;
  list-style: none;
  border: 1px solid #dee2e6;
  border-radius: 0.25rem;
  margin: 0 auto;
  margin-top: 1.1rem;
}

.pagination_link {
  position: relative;
  display: block;
  padding: 0.5rem 0.7rem;
  line-height: 1.25;
  color: #1c1d2a;
  background-color: #fff;
  border-right: 1px solid #dee2e6;
}

.pagination_link:hover {
  background-color: #e9ecef;
}
.pagination.on {
  background-color: #f7931a;
  color: #fff;
}

.col-md-yj {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 90%;
  margin: 0 auto;
}

.table-bb {
  border-bottom: 1px solid #dee2e6;
}

@media (max-width: 992px) {
  .col-md-yj {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 90%;
    margin: 15px auto;
  }
}

.info-button {
  cursor: pointer;
  background-color: #e9ecef;
  border: 1px solid #e9ecef;
  border-radius: 5px;
  padding: 0.25rem 1rem;
}
.info-button:hover {
  background-color: #df3f49;
  color: #fff;
}
.table td,
.table th {
  vertical-align: middle;
}

.mt-yj {
  margin-top: 4rem !important;
}

.bg-navbar {
  background-color: #1c1d2a !important;
}

/*pagination*/
.user-pagination-wrap {
  position: relative;
  text-align: center;
  margin: 0 auto;
  margin-top: 1.15rem;
}
.user-pagination-wrap > div {
  color: #868e96;
}
.user-pagination-wrap > div > a {
  color: #868e96;
  padding: 0 10px;
}
.user-pagination {
  display: inline-block;
  position: relative;
  border: 1px solid #868e96;
  border-radius: 10px;
  background: #ffffff;
  color: #868e96;
  margin: 0 2.5px;
  font-size: 15px;
}
.user-pagination:hover {
  background: #868e96;
  color: white;
}
.user-pagination:hover > a {
  font-weight: bold;
  color: white;
  text-decoration: none;
}
.user-pagination.on {
  font-weight: bold;
  background: #868e96;
  color: white;
  padding: 0 10px;
}
@media (max-width: 992px) {
  .side {
    display: none;
  }
}

.content-title {
  font-size: 1.2rem;
  font-weight: 500;
  padding: 0.75rem 0;
  margin-bottom: 0;
}
.radio-group {
  padding-top: calc(0.375rem + 1px);
  padding-bottom: calc(0.375rem + 1px);
  margin-bottom: 0;
  font-size: inherit;
  line-height: 1.5;
}
.radio:nth-of-type(2) {
  margin-left: 15px;
}

.myaddress {
  display: inline-block;
  padding-left: 12px;
}
.myaddress > a {
  color: #9c9c9c;
}
.myaddress > a:after {
  content: "\f105";
  font-family: "FontAwesome";
  padding-left: 5px;
}
.myaddress > a:hover {
  color: #dc3545;
}

.address_wrap.off {
  display: none;
}
.phone_wrap.off {
  display: none;
}

.text-gray {
  color: #787a8c;
}
.text-gray:hover {
  color: #dc3545;
}
.form-control-yj:disabled,
.form-control-yj[readonly] {
  background-color: #e9ecef;
  opacity: 1;
}
.small2 {
  font-size: 90%;
}
.bg_login {
  background: #1c1d2a;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.modal-dialog.modal-address {
  max-width: 620px;
}
.modal-dialog.modal-otp {
  max-width: 400px;
}

.close.addbtn {
  float: right;
  font-size: 1.3rem;
  font-weight: 700;
  line-height: 1;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  opacity: 0.5;
}

.modal-body {
  padding: 1.6rem;
}
.p_agree h5 {
  color: #1e75bb;
}
.p_agree h6 {
  font-weight: bold;
}
.table-responsive.table-add {
  margin-bottom: 0.8rem;
}
.table-responsive.table-add td,
.table-responsive.table-add th {
  border: none;
  vertical-align: middle;
}
.table-responsive.table-add th {
  width: 15%;
}
.btn.right {
  float: right;
}
.table-bordered {
  border: 2px solid #dee2e6;
}
.text-wait {
  color: #0056b3;
}

.ripple_effect_left_bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 700px;
  height: 700px;
  overflow: hidden;
}
.ripple_effect_right_top {
  position: absolute;
  top: 0;
  right: 0;
  width: 700px;
  height: 700px;
  overflow: hidden;
}
.ripple_effect_right_top .circle_bg1 {
  border-radius: 100%;
  height: 100%;
  width: 100%;
  position: absolute;
  right: -350px;
  top: -350px;
  left: auto;
  bottom: auto;
}
.circle_bg1 {
  border-radius: 100%;
  height: 100%;
  width: 100%;
  position: absolute;
  left: -350px;
  bottom: -350px;
}
.circle_bg1 span {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 50%;
  height: 100%;
  width: 100%;
  -moz-transform: scale(0);
  -webkit-transform: scale(0);
  transform: scale(0);
  -webkit-animation-name: ripple;
  -moz-animation-name: ripple;
  -o-animation-name: ripple;
  animation-name: ripple;
  -webkit-animation-duration: 4s;
  -moz-animation-duration: 4s;
  -o-animation-duration: 4s;
  animation-duration: 4s;
  -webkit-animation-delay: 6s;
  -moz-animation-delay: 6s;
  -o-animation-delay: 6s;
  animation-delay: 6s;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  -o-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-timing-function: linear;
  -o-animation-timing-function: linear;
  animation-timing-function: linear;
  border: 1px solid rgba(255, 255, 255, 0.2);
}
.circle_bg1 span:nth-child(2) {
  -webkit-animation-delay: 5s;
  -moz-animation-delay: 5s;
  -o-animation-delay: 5s;
  animation-delay: 5s;
}
.circle_bg1 span:nth-child(3) {
  -webkit-animation-delay: 4s;
  -moz-animation-delay: 4s;
  -o-animation-delay: 4s;
  animation-delay: 4s;
}
.circle_bg1 span:nth-child(4) {
  -webkit-animation-delay: 3s;
  -moz-animation-delay: 3s;
  -o-animation-delay: 3s;
  animation-delay: 3s;
}
.circle_bg1 span:nth-child(5) {
  -webkit-animation-delay: 2s;
  -moz-animation-delay: 2s;
  -o-animation-delay: 2s;
  animation-delay: 2s;
}
.circle_bg1 span:nth-child(6) {
  -webkit-animation-delay: 1s;
  -moz-animation-delay: 1s;
  -o-animation-delay: 1s;
  animation-delay: 1s;
}

@-webkit-keyframes ripple {
  0% {
    -webkit-transform: scale(0.1);
    transform: scale(0.01);
    opacity: 1;
  }
  50% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 0;
  }
}
@-moz-keyframes ripple {
  0% {
    -moz-transform: scale(0.1);
    transform: scale(0.01);
    opacity: 1;
  }
  50% {
    -moz-transform: scale(0.5);
    transform: scale(0.5);
    opacity: 1;
  }
  100% {
    -moz-transform: scale(1);
    transform: scale(1);
    opacity: 0;
  }
}
@-o-keyframes ripple {
  0% {
    -o-transform: scale(0.1);
    transform: scale(0.01);
    opacity: 1;
  }
  50% {
    -o-transform: scale(0.5);
    transform: scale(0.5);
    opacity: 1;
  }
  100% {
    -o-transform: scale(1);
    transform: scale(1);
    opacity: 0;
  }
}
@keyframes ripple {
  0% {
    transform: scale(0.1);
    transform: scale(0.1);
    opacity: 1;
  }
  50% {
    transform: scale(0.5);
    transform: scale(0.5);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    transform: scale(1);
    opacity: 0;
  }
}

.circle_bg1 span::before {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 100%;
  content: "";
  height: 15px;
  position: absolute;
  width: 15px;
}
.circle_bg1 span:first-child:before {
  right: 10px;
  top: 230px;
}
.circle_bg1 span:nth-child(2):before {
  right: 100px;
  top: 89px;
}
.circle_bg1 span:nth-child(3):before {
  right: 240px;
  top: 7px;
}
.circle_bg1 span:nth-child(4):before {
  right: 100px;
  top: 89px;
}
.ripple_effect_right_top .circle_bg1 span:first-child:before {
  left: 8px;
  bottom: 236px;
  top: auto;
}
.ripple_effect_right_top .circle_bg1 span:nth-child(2):before {
  left: 100px;
  bottom: 89px;
  top: auto;
}
.ripple_effect_right_top .circle_bg1 span:nth-child(3):before {
  left: 240px;
  bottom: 7px;
  top: auto;
}
.ripple_effect_right_top .circle_bg1 span:nth-child(4):before {
  left: 100px;
  bottom: 89px;
  top: auto;
}
.circle_bg1.circle_bg_color1 span::before {
  background-color: #21d397;
}
.hv-100 {
  height: 100vh;
}

@media (max-width: 767px) {
  .ripple_effect_left_bottom {
    display: none;
  }
  .ripple_effect_right_top {
    display: none;
  }
}

#checkPinNumber {
  z-index: 1000;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.modal-header.pin_header {
  background: #152c47;
  color: #fff;
  border-radius: 0;
}

.number-input {
  height: 10em;
  padding: 2em;
  text-align: center;
  background: #fff;
}

.number-input strong {
  color: #212529;
  font-size: 1.5em;
}

.number-input p {
  color: #212529;
  font-size: 1em;
}

.number-input .pin_pw {
  color: #1e75bb;
  width: 100%;
  height: 2.5em;
  font-size: 1.2em;
  border: 1px solid #ced4da;
  border-radius: 0;
  text-align: center;
}

.number-btn {
  width: 100%;
  height: 60%;
  text-align: center;
  padding: 3% 5% 5%;
  list-style: none;
  background: #fff;
  color: #1986ba;
}

.number-btn li {
  float: left;
  width: 33.33%;
  height: 25%;
  text-align: center;
}

.number-btn li a {
  display: flex;
  background-color: #1e75bb;
  border: 10px solid #fff;
  border-radius: 18px;
  color: #fff;
  width: 100%;
  height: 100%;
  line-height: 14vh;
  font-size: 8vh;
  font-weight: 900;
  letter-spacing: -0.5px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.number-btn li a:active {
  background: #152c47;
}
.number-btn li a:visited {
  background: #fff;
}
.pin_header .close {
  color: #fff;
}
.modal-header.pin_header {
  border: none;
}

#checkPinNumber .input_wrap {
  position: relative;
  width: 70%;
  margin: 0 auto;
}

#checkPinNumber .btn-redo {
  position: absolute;
  top: 0;
  right: 0;
  line-height: 2.5em;
  font-size: 1.2em;
  background: none;
  border: none;
  outline: none;
}

#checkPinNumber .btn-redo i {
  color: #1d5a8d;
  font-size: 1.2em;
  transition: all 0.1s;
}

#checkPinNumber .btn-redo i:active {
  color: #8dd1ee;
}

.modal-content.popup {
  max-width: 380px;
  margin: 0 auto;
}

.popNoticeBody {
  text-align: center;
  height: auto;
}

.popNoticeBody img {
  width: auto;
  max-height: 70vh;
  width: auto\9; /* ie8 */
}

.modal-header.pop-header,
.modal-footer.pop-footer {
  padding: 0.5rem;
}

.modal-caption {
  color: #131d28;
}

.modal-caption:hover {
  color: #131d28;
  text-decoration: none;
}

.lr_icon img,
.navbar-brand .logo,
.navbar-brand .logo_icon {
  height: 70px;
}

.v-align-center {
  top: 50%;
  margin-top: -200px;
}

.language-select {
  margin-top: 20px;
  cursor: pointer;
  line-height: 1.5;
  display: inline-block;
  width: 120px;
  height: calc(2.40625rem + 2px);
  padding: 0.375rem 1.75rem 0.375rem 0.75rem;
  vertical-align: middle;
  color: #3a3a3a;
  border: 1px solid #ced4da;
  border-radius: 0.375rem;
  /* background: url(../inc/images/icon/down-arrow.png) no-repeat calc(100% - 10px); */
  background-size: 10px;
  -webkit-appearance: none;
  appearance: none;
}

.text-ks {
  font-size: 15px;
  color: #909090;
  margin-top: 10px;
  margin-bottom: 30px;
}

.text-l-ks {
  font-size: 40px;
  font-weight: bold;
}

.margin_tb_30 {
  margin-top: 10px;
  margin-bottom: 20px;
}
