@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@500;900&display=swap");

* {
  margin: 0;
  padding: 0;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: #000;
}
body {
  font-family: "Noto Sans KR", sans-serif;
}

.mobile {
  display: none;
}

.qr {
  display: none;
}

.hamberger img {
  width: 100%;
}

.h-100 {
  padding: 200px 0;
}

.hamberger {
  display: none;
}

#wrap {
  width: 100%;
  overflow: hidden;
}

.center {
  margin: 0 auto;
  width: 77.778%;
  display: flex;
  flex-direction: column;
}

section {
  width: 100%;
  margin-bottom: 300px;
}

section > h2 {
  display: none;
}

.s_top {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.s_bottom {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.s_left,
.s_right {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.s_left {
  justify-self: flex-start;
}

.s_right {
  justify-self: flex-end;
}

button {
  height: 45px;
  border-radius: 10px;
  background-color: #17c2ed;
  font-weight: bold;
  color: #fff;
  border: none;
  font-size: 1.1vw;
}

h2 {
  font-size: 2.2vw;
}

h3 {
  font-size: 1.7vw;
}

p {
  font-size: 1.2vw;
}

span {
  font-size: 0.7vw;
}

/* header */

#header {
  width: 100%;
  height: 150px;
  position: fixed;
  top: 0;
  background-color: #060c23;
  opacity: 0.6;
  z-index: 99999;
}

.gnb {
  margin: 0 auto;
  width: 85%;
  height: 100%;
  display: flex;
  align-items: center;
  position: relative;
}

.logo {
  width: 11.11%;
  margin-right: 9.028%;
  cursor: pointer;
}

.logo img {
  width: 60%;
  min-width: 60px;
}

.main_menu {
  width: 27.778%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main_menu li a {
  color: #c2c1c1;
}

#header .button {
  width: 10%;
  position: absolute;
  right: 0;
}

/* /header */

/* s1 */
.s1 {
  padding-top: 150px;
  background: url(../img/s1_bg.png) no-repeat;
  background-size: 100% 90vh;
}
.s1 .s_top {
  width: 100%;
  height: 375px;
  flex-direction: row;
  margin-bottom: 50px;
}
.s1 .s_left {
  width: 60%;
  align-items: flex-start;
  margin-right: 12%;
}
.s1 .s_left h2 {
  margin-bottom: 30px;
  color: #fff;
}
.s1 .s_left p {
  color: #fff;
  font-weight: bold;
}
.s1 .s_left span {
  font-size: 1.2vw;
  color: #2ec6e8;
  font-weight: bold;
}
.s1 .s_right {
  width: 30%;
}
.s1 .s_right .s1_img {
  width: 100%;
}
.s1 .s_right .s1_img img {
  width: 100%;
}
.s1 .s_bottom {
  justify-content: center;
  flex-direction: column;
}
.s1 .s_bottom .button {
  width: 20%;
  height: 80px;
  border-radius: 20px;
  font-size: 1.5vw;
  margin-bottom: 30px;
  font-weight: bold;
}
.s1 .s_bottom .bar {
  width: 48.611%;
  height: 20px;
  margin-bottom: 80px;
  background-color: rgba(23, 194, 237, 0.3);
}
.s1 .s_bottom .bar .bar_fill {
  width: 61.571%;
  height: 100%;
  background-color: rgba(23, 194, 237);
}
.s1 .s_bottom .bar .bar_number {
  width: 100%;
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  color: #fff;
}
.s1
  .s_bottom
  .bar
  .bar_number
  span:not(.s1 .s_bottom .bar .bar_number span:nth-child(2)) {
  color: rgba(255, 255, 255, 0.5);
}
.s1 .s_bottom .bar .bar_number span:nth-child(2) {
  margin-left: 30%;
}
.s1 .s_bottom .check_customer {
  width: 100%;
  line-height: 85px;
  border-radius: 25px;
  text-align: center;
  background-color: #2ec6e8;
  font-weight: bold;
}
/* /s1 */

/* s2 */
.s2 .s_top {
  margin-bottom: 80px;
}
.s2 .s_top h2 {
  margin-bottom: 15px;
}
.s2 .s_bottom .s2_event {
  display: flex;
  justify-content: space-between;
}
.s2 .s_bottom .s2_event .event_card {
  width: 21.93%;
  height: 400px;
  padding: 30px 20px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
  text-align: center;
}
.s2 .s_bottom .s2_event .event_card p {
  margin-bottom: 10px;
  color: #2ec6e8;
}
.s2 .s_bottom .s2_event .event_card span {
  height: 40px;
  display: inline-block;
  margin-bottom: 10px;
}
.s2 .s_bottom .s2_event .event_card h3,
h4,
h5 {
  margin-bottom: 5px;
}
.s2 .s_bottom .s2_event .event_card h3 {
  font-size: 1.3vw;
}
.s2 .s_bottom .s2_event .event_card .icon_img {
  width: 30%;
  height: 100px;
  margin: 0 auto;
}
.s2 .s_bottom .s2_event .event_card .icon_img img {
  width: 100%;
}
.h_text {
  height: 100px;
}
/* /s2 */

/* s3 */
.s3 .s_top {
  margin-bottom: 80px;
}
.s3 .s_bottom .s_left .notebook {
  width: 750px;
  position: relative;
  margin-bottom: 40px;
}
.s3 .s_bottom .s_left .notebook img {
  width: 100%;
  border-radius: 5px;
}
.s3 .s_bottom .s_left .pagenation {
  width: 20%;
  height: 20px;
  background-color: chocolate;
}
.s3 .s_bottom .s_right {
  align-items: unset;
}
.s3 .s_bottom .s_right h3 {
  margin-bottom: 30px;
}
/* /s3 */

/* s4 */
.s4 {
  padding: 10vh 0 20vh 0;
  background: url(../img/s4_bg.png) no-repeat;
  background-size: 100% 110vh;
}
.s4 h2,
.s4 h3 {
  color: #fff;
}
.s4 p,
.s4 span {
  color: #909090;
}
.s4 .s_top {
  margin-bottom: 80px;
}
.s4 .s_bottom {
  justify-content: space-between;
}
.s4 .s_bottom .s_left,
.s4 .s_bottom .s_right {
  width: 33%;
}
.s4 .s_bottom .s_middle {
  width: 25%;
}
.s4 .s_bottom .s_middle img {
  width: 100%;
}
.s4 .s_bottom .s_left p {
  color: #fff;
}
.s4 .s_bottom .s_left .button_img {
  margin-bottom: 30px;
  cursor: pointer;
}
.s4 .s_bottom .s_left .button_img img {
  width: 100%;
}
.s4 .s_bottom .s_left .qr {
  margin-bottom: 30px;
}
.s4 .s_bottom .s_left .qr img {
  width: 100%;
}
.s4 .s_bottom .s_right .text_group {
  width: 100%;
  margin-bottom: 50px;
}
.s4 .s_bottom .s_right .text_group h3 {
  margin-bottom: 10px;
}
/* /s4 */

/* s5 */
.s5 .s_top {
  margin-bottom: 80px;
}
.s5 .s_top p {
  color: #909090;
}
.s5 .s_top h2 {
  margin-bottom: 20px;
}
.s5 .s_bottom {
  justify-content: center;
}
.s5 .s_bottom .b_card {
  width: 25.278%;
  height: 420px;
  border-radius: 15px;
  box-sizing: border-box;
  padding: 40px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  margin: 0 20px;
}
.s5 .s_bottom .b_card p {
  font-size: 0.8vw;
  color: #909090;
}
.s5 .s_bottom .b_card:nth-child(2) {
  background-color: #060c23;
  color: #fff;
}
.s5 .s_bottom .b_card:not(.s5 .s_bottom .b_card:nth-child(2)) {
  border: 2px solid #17c2ed;
}
.s5 .s_bottom .b_card .b_card_img {
  width: 48.08%;
  height: 175px;
  margin: 0 auto;
}
.s5 .s_bottom .b_card .b_card_img img {
  width: 100%;
}
/* /s5 */

/* s6 */
.s6 {
  background-color: #060c23;
  margin-bottom: 0px;
}
.s6 .center {
  flex-direction: row;
  justify-content: space-between;
  height: 500px;
}
.s6 .s_left {
  height: 300px;
}
.s6 .s_left .blue_bg {
  width: 100%;
  /* height: 100%; */
  padding: 40px 25px;
  display: flex;
  flex-direction: column;
  background-color: #17c2ed;
  color: #fff;
}
.s6 .s_left .blue_bg .s6_img {
  width: 90%;
  height: 250px;
  margin: 0 auto;
  margin-bottom: 15px;
}
.s6 .s_left .blue_bg .s6_img img {
  width: 100%;
}
.s6 .s_left .blue_bg h3,
.s6 .s_left .blue_bg p {
  margin-bottom: 15px;
}
.s6 .s_left .blue_bg .sns {
  width: 55%;
  height: 50px;
  display: flex;
  justify-content: space-between;
}
.s6 .s_left .blue_bg .sns .icon_img {
  width: 30%;
}
.s6 .s_left .blue_bg .sns .icon_img img {
  width: 100%;
}
.s6 .s_right {
  width: 60%;
}
.s6 .s_right .q_form {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.s6 .s_right .q_form input {
  width: 90%;
  height: 65px;
  border: none;
  border-radius: 10px;
  margin-bottom: 30px;
  padding: 30px;
  box-sizing: border-box;
}
.s6 .s_right .q_form .s_inp {
  width: 90%;
  display: flex;
  justify-content: space-between;
}
.s6 .s_right .q_form .s_inp input {
  width: 45%;
}
.s6 .s_right .q_form .des {
  height: 140px;
  padding: 0 30px;
}
.s6 .s_right .q_form button {
  width: 25%;
  height: 50px;
  background-color: #fff;
  color: #000;
}
/* /s6 */

/* footer */
.footer {
  width: 100%;
  background-color: #000;
  display: flex;
  padding: 50px 0;
}
.footer .center {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.footer .center .s_right {
  width: 100%;
}
.footer .f_logo_img {
  width: 200px;
}
.footer .f_logo_img img {
  width: 60%;
}
.footer .f_menu {
  display: flex;
  width: 35%;
}
.footer .f_menu .f_title {
  width: 50%;
  color: #fff;
  margin-right: 15%;
}
.footer .f_menu .f_title ul li {
  color: #a5a5a5;
  margin-bottom: 5px;
}
.footer .f_menu .f_title ul li a {
  color: #17c2ed;
}
/* /footer */

/* media */
@media screen and (max-width: 499px) {
  img:not(.mobile) {
    display: none;
  }
  .mobile {
    display: block;
  }
  .hamberger img {
    width: 50%;
    padding-left: 15px;
  }
  .slick-next {
    right: -3%;
  }
  .slick-prev {
    left: -3%;
  }
  .hamberger {
    display: block;
    width: 100%;
    height: 100px;
    position: fixed;
    top: 0;
    z-index: 9999;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  #header {
    height: 100px;
    opacity: 1;
  }
  .hamberger .m_logo {
    width: 40%;
  }
  .hamberger button {
    width: 20%;
  }
  .hamberger .m_gnb {
    padding-right: 15px;
    width: 50px;
    height: 50px;
    background: url(../img/hamberger.png) no-repeat;
  }
  .hamberger .m_gnb .m_a {
    display: none;
    width: 80px;
    height: 200px;
    background-color: #fff;
    position: absolute;
    top: 50%;
    right: 20px;
    border-radius: 10px;
    text-align: center;
  }
  .hamberger .m_gnb .m_a a {
    display: block;
    height: 40px;
  }

  .center {
    width: 90%;
  }
  .gnb {
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 30px;
    display: none;
  }
  h2 {
    font-size: 6vw;
  }
  h3 {
    font-size: 5vw !important;
  }
  h4 {
    font-size: 4.7vw;
  }
  h5 {
    font-size: 4.5vw;
  }
  p {
    font-size: 4.5vw;
  }
  span {
    font-size: 3.8vw;
  }
  button {
    font-size: 5vw;
  }

  /* s1 */
  .s1 {
    background-size: 50%;
    background: url(../img/Bg1_m.png);
    padding: 250px 0 150px 0;
  }
  .s1 .s_top {
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
  }
  .s1 .s_left {
    margin-right: 0;
    width: 90%;
    justify-content: center;
    align-items: center;
  }
  .s1 .s_left span {
    font-size: 4.5vw;
  }
  .s1 .s_bottom .button {
    width: 40%;
  }
  .s1 .s_right {
    width: 90%;
  }
  .s1 .s_bottom .button {
    width: 90%;
    font-size: 7vw;
  }
  .s1 .s_bottom .bar {
    width: 90%;
  }
  .s1 .s_bottom .check_customer {
    padding: 40px;
    box-sizing: border-box;
  }

  .main_menu {
    width: 63%;
  }
  /* .s1 */

  /* s2 */
  .s2 .s_bottom .s2_event {
    flex-wrap: wrap;
  }
  .s2 .s_bottom .s2_event .event_card {
    width: 100%;
    min-height: 500px;
    margin-bottom: 30px;
  }
  /* /s2 */

  /* s3 */
  .s3 .s_bottom {
    flex-direction: column;
    text-align: center;
  }
  .s3 .s_bottom .s_left {
    margin-bottom: 30px;
  }
  .s3 .s_bottom .s_left .notebook {
    width: 90vw;
    background-position: center;
    background-size: 100%;
    margin-bottom: unset;
  }
  .s3 .s_bottom .s_left .notebook img {
    width: 70%;
    height: unset;
    top: 33%;
  }
  /* /s3 */

  /* s4 */
  .s4 {
    background-size: 100%;
    background: url(../img/Bg2_m.png);
    padding: 30vh 0 20vh 0;
  }
  .s4 .s_top {
    text-align: center;
  }
  .s4 .s_bottom {
    flex-direction: column;
  }
  .s4 .s_bottom .s_left,
  .s4 .s_bottom .s_right {
    width: 70%;
    text-align: center;
  }
  .s4 .s_bottom .s_middle {
    width: 70%;
    margin: 30px 0 30px 0;
  }
  /* /s4 */

  /* s5 */
  .s5 .s_bottom {
    flex-wrap: wrap;
  }
  .s5 .s_bottom .b_card {
    width: 70%;
    height: 300px;
    margin-bottom: 10px;
  }
  .s5 .s_bottom .b_card .b_card_img {
    width: 35%;
    height: 100px;
  }
  .s5 .s_bottom .b_card p {
    font-size: 1.3vw;
  }
  .s5 .s_top {
    text-align: center;
  }
  /* /s5 */

  /* s6 */
  .s6 {
    padding-bottom: 80px;
    margin-bottom: 0;
  }
  .s6 .center {
    height: 800px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #fff;
  }
  .s6 .s_left .blue_bg {
    background-color: unset;
  }
  .s6 .s_left .blue_bg .s6_img {
    display: none;
  }
  .s6 .s_left .blue_bg .sns {
    width: 100%;
  }
  .s6 .s_right .q_form .s_inp {
    flex-direction: column;
  }
  .s6 .s_right .q_form .s_inp input {
    width: 100%;
  }
  .s6 .s_right .q_form button {
    width: 100%;
  }
  /* /s6 */

  /* footer */
  .footer .center {
    flex-direction: column;
  }
  .footer .f_menu {
    width: 100%;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .footer .f_menu .f_title {
    margin-right: 0;
    margin-bottom: 20px;
  }
  .footer .f_logo_img {
    width: 100%;
    margin-bottom: 20px;
  }
  .footer .f_logo_img img {
    margin: 0 auto;
  }
  /* /footer */
}
@media screen and (min-width: 500px) and (max-width: 799px) {
  img:not(.mobile) {
    display: none;
  }
  .mobile {
    display: block;
  }
  .gnb img {
    display: block;
  }
  .slick-next {
    right: -3%;
  }
  .slick-prev {
    left: -3%;
  }
  h2 {
    font-size: 4vw;
  }
  h3 {
    font-size: 3vw !important;
  }
  h4 {
    font-size: 2.7vw;
  }
  h5 {
    font-size: 2.5vw;
  }
  p {
    font-size: 2.5vw;
  }
  span {
    font-size: 1.8vw;
  }
  button:not(.slick-dots button) {
    font-size: 2vw !important;
  }
  .logo {
    width: 15%;
  }

  /* s1 */
  .s1 {
    background-size: 100% 100vh;
  }
  .s1 .s_left span {
    font-size: 2.5vw;
  }
  .s1 .s_bottom .button {
    width: 40%;
  }

  .main_menu {
    width: 63%;
  }
  /* .s1 */

  /* s2 */
  .s2 .s_bottom .s2_event {
    flex-wrap: wrap;
  }
  .s2 .s_bottom .s2_event .event_card {
    width: 49%;
    min-height: 550px;
    margin-bottom: 30px;
  }
  .s2 .s_bottom .s2_event .event_card .icon_img {
    height: 60px;
  }
  /* /s2 */

  /* s3 */
  .s3 .s_bottom {
    flex-direction: column;
    text-align: center;
  }
  .s3 .s_bottom .s_left {
    margin-bottom: 30px;
  }
  .s3 .s_bottom .s_left .notebook {
    background-position: center;
    width: 95vw;
  }
  .s3 .s_bottom .s_left .notebook img {
    width: 71%;
  }
  /* /s3 */

  /* s4 */
  .s4 {
    background-size: 100% 130vh;
  }
  .s4 .s_top {
    text-align: center;
  }
  /* /s4 */

  /* s5 */
  .s5 .s_bottom {
    flex-wrap: wrap;
  }
  .s5 .s_bottom .b_card {
    width: 48%;
    height: 300px;
    margin-bottom: 10px;
    padding: 25px 20px;
  }
  .s5 .s_bottom .b_card .b_card_img {
    height: 100px;
  }
  .s5 .s_bottom .b_card p {
    font-size: 1.3vw;
  }
  /* /s5 */

  /* s6 */
  .s6 {
    padding-bottom: 80px;
    margin-bottom: 0;
  }
  .s6 .center {
    height: 835px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #fff;
  }
  .s6 .s_left .blue_bg {
    background-color: unset;
  }
  .s6 .s_left .blue_bg .s6_img {
    display: none;
  }
  .s6 .s_left .blue_bg .sns {
    width: 100%;
  }
  .s6 .s_right .q_form .s_inp {
    flex-direction: column;
  }
  .s6 .s_right .q_form .s_inp input {
    width: 100%;
  }
  .s6 .s_right .q_form button {
    width: 100%;
  }
  /* /s6 */

  /* footer */
  .footer .center {
    flex-direction: column;
  }
  .footer .f_menu {
    width: 100%;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .footer .f_menu .f_title {
    margin-right: 0;
    margin-bottom: 20px;
  }
  .footer .f_logo_img {
    width: 100%;
    margin-bottom: 20px;
  }
  .footer .f_logo_img img {
    margin: 0 auto;
  }
  /* /footer */
}
@media screen and (min-width: 800px) and (max-width: 1200px) {
  .slick-next {
    right: -3%;
  }
  .slick-prev {
    left: -3%;
  }
  h2 {
    font-size: 3vw;
  }
  h3 {
    font-size: 2.5vw !important;
  }
  h4 {
    font-size: 2.3vw;
  }
  h5 {
    font-size: 2.1vw;
  }
  p {
    font-size: 2vw;
  }
  span {
    font-size: 1.3vw;
  }
  /* s1 */
  .s1 {
    background-size: 100% 100vh;
  }
  .s1 .s_left span {
    font-size: 2vw;
  }

  .main_menu {
    width: 60%;
  }
  /* .s1 */

  /* s2 */
  .s2 .s_bottom .s2_event {
    flex-wrap: wrap;
  }
  .s2 .s_bottom .s2_event .event_card {
    width: 45%;
    min-height: 500px;
    margin-bottom: 30px;
  }
  /* /s2 */

  /* s3 */
  .s3 .s_bottom {
    flex-direction: column;
    text-align: center;
  }
  .s3 .s_bottom .s_left {
    margin-bottom: 30px;
  }
  /* /s3 */

  /* s4 */
  .s4 {
    background-size: 100% 130vh;
  }
  /* /s4 */

  /* s5 */
  .s5 .s_bottom .b_card .b_card_img {
    height: 100px;
  }
  .s5 .s_bottom .b_card p {
    font-size: 1.3vw;
  }
  /* /s5 */
}

/* media */
